{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Transaction</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <a href="{% url 'dashboard' %}"  style="text-decoration: none;">
        
        <button class="btn btn-gold btngold2" >
            Back
         </button></a>

     <div class="container">
        <h2>Create </h2>
  <!-- Display messages -->
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <div class="success">{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_particulars">Particulars</label>
                <input type="text" name="particulars" id="id_particulars" value="{{ form.particulars.value|default:''  }}" class="form-control" placeholder="Enter Particulars" required>
            </div>
        
            <div class="form-group">
                <label for="id_narration">Narration</label>
                <textarea name="narration" id="id_narration" class="form-control" placeholder="Enter Narration" required>{{ form.narration.value|default:''  }}</textarea>
            </div>
        
            <div class="form-group">
                <label for="id_amount_type">Amount Type</label>
                <select name="amount_type" id="id_amount_type" class="form-control" required>
                    <option value="" disabled selected>Choose Debit or Credit</option>
                    {% for choice_value, choice_label in form.amount_type.field.choices %}
                        <option value="{{ choice_value }}" {% if form.amount_type.value == choice_value %}selected{% endif %}>
                            {{ choice_label }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label for="id_amount">Amount</label>
                <input type="number" name="amount" id="id_amount" value="{{ form.amount.value|default:'' }}" class="form-control" placeholder="Enter Amount" required>
            </div>
        
            <div class="form-group">
                <label for="id_transaction_receipt">Transaction Receipt</label>
                <input type="file" name="transaction_receipt" id="id_transaction_receipt" class="form-control">
            </div>
        
            <button type="submit" class="btn btn-gold">Create</button>
        </form>
    </div>

</body>
</html>
