asgiref==3.8.1
cffi==1.17.1
chardet==5.2.0
colorama==0.4.6
cryptography==44.0.0
Django==5.1.4
django-appconf==1.0.6
django-axes==7.0.1
django-ckeditor==6.7.2
django-cleanup==9.0.0
django-crispy-forms==2.3
django-cryptography==1.1
django-js-asset==3.0.1
django-otp==1.5.4
django-user-agents==0.4.0
pillow==11.0.0
pycparser==2.22
python-dotenv==1.0.1
qrcode==8.0
reportlab==4.2.5
sqlparse==0.5.3
tzdata==2024.2
ua-parser==1.0.0
ua-parser-builtins==0.18.0.post1
user-agents==2.2.0
openpyxl-3.1.5
